

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

@font-face {
    font-family: 'Norse Bold';
    src: url(./Norse-Bold.otf);
}

.sidebar {
    display: flex;
    flex: 1;
    position: relative;
}

.sidebar img {
    height: 100%;
    width: 100%;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 25%;
    width: 100%;
}

.banner img {
    height: 120px;
    width: auto;
}

.banner h1 {
    font-family: 'Norse Bold';
    font-size: 6rem;
    color: white;
}

.attribution, .attribution a {
    font-family: sans-serif;
    color: white;
}

.attribution {
    position: absolute;
    bottom: 2%;
    left: 20%;
    right: 20%;
    text-align: center;
}

.content {
    font-family: sans-serif;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.content > div {
    padding-left: 5%;
    padding-right: 5%;
}

.form-description-section {
    padding-top: 15%;
    background-color: #f9fafb;
}

.form-description-section h2 {
    max-width: 60rem;
}

.form-content-section {
    position: relative;
    background-color: #ffffff;
    padding-top: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0px 4px 10px 0px #D3D3D3;
}

.form-content-section form {
    display: flex;
    gap: 3rem;
}

.form-left, .form-right {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.form-field input {
    all: unset;
    padding: 0.2rem;
    width: 14rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 0.2rem;
    border-color: #E5E7EB;
}

.form-field input:user-invalid {
    border-color: #c64646;
}

.form-field input:focus {
    border-color: #5577d6;
}

.form-field label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.form-submit-section {
    padding-top: 1.5rem;
    background-color: #f9fafb;
    flex: 1;
}

.form-submit-section button[type="submit"] {
    all: unset;
    color: white;
    font-weight: bold;
    padding: 0.9rem 3rem;
    border-radius: 0.4rem;
    background-color: #596d48;
    box-shadow: 2px 5px 10px 0px #C9C9C9;
    margin-bottom: 1.2rem;
}

.form-submit-section button[type="submit"]:active {
    background-color: #6e9949;
}

.form-submit-section a {
    text-decoration: none;
    font-weight: bold;
    color: #596d48;
}



